@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<pre>an MVC web application in ASP.NET Core 2.0 using ADO.NET.
 We will be creating a sample Employee Record Management System 
and performing CRUD operations on it.</pre>
