@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    #28,Survey no.7/1,
     Kasavanahalli Village Varthur Hobli,
     Sarjapur Road, Bengaluru,
     Karnataka 560035
</address>

<address>
    <strong>Support:</strong> <a href="mailto:bk1792245@gmail.com">Supportbk1792245@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:bk1792245@gmail.com">Supportbk1792245@gmail.com</a>
</address>
